<h1>Crear nuevo item</h1>
<form [formGroup]="itemForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="title">Titulo*: </label>
    <input type="text" id="title" formControlName="title" required />
  </div>
  <div class="form-group">
    <label for="description">Descripcion*: </label>
    <input
      type="text"
      id="description"
      formControlName="description"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Precios*: </label>
    <button (click)="addPrice()">Agregar Precio</button>
  </div>
  <div class="form-table" formArrayName="prices">
    @for(priceForm of prices.controls; track $index) {
    <fieldset class="form-row" [formGroupName]="$index">
      <div class="form-group">
        <label for="dimension">Dimension*: </label>
        <input
          type="text"
          id="dimension"
          formControlName="dimension"
          required
        />
      </div>
      <div class="form-group">
        <label for="price">Precio*: </label>
        <input type="number" id="price" formControlName="price" required />
      </div>
      <button (click)="removePrice($index)">Eliminar precio</button>
    </fieldset>
    }
  </div>
  <div class="form-group">
    <label for="description">Fotos*: </label>
    <button (click)="addPhoto()">Agregar Fotos</button>
  </div>
  <div class="form-table" formArrayName="photos">
    @for(photo of photos.controls; track $index) {
    <fieldset class="form-row" [formGroupName]="$index">
      <div class="form-group">
        <label for="imgUrl">Url de la imagen*: </label>
        <input type="text" id="imgUrl" formControlName="imgUrl" required />
      </div>
      <button (click)="removePhoto($index)">Eliminar precio</button>
    </fieldset>
    }
  </div>
  <ul>
    @for(error of errors; track $index) {
    <li>{{ error }}</li>
    }
  </ul>

  <button type="submit">Crear Item</button>
</form>
